*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid
{
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}
.grid div
{
    
    background-color: blue;
     border-radius: 10px;
}

.one
{
    grid-area: 1/1/3/3;

}
.two
{
    grid-column: span 3;
}

.three
{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column: span 2;
   
}
.four
{
    grid-column: span 2;
    grid-row: span 2;
}
