.flex
{
    width: 800px;
    display: flex;
    padding: px;
    justify-content: flex-start;

}
.flex div
{
    background-color: white;
    width: 200px;
    height: 200px;
    margin-right: 10px;



}